<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
<form action="/member/login/" method="post" name="login-form">
    {% csrf_token %}
    <input type="text" name="member-email" placeholder="아이디">
    <input type="password" name="member-password" placeholder="비밀번호">
    <button>완료</button>
</form>
</body>
</html>